@charset "utf-8";
/* CSS Document */
body {
	font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font-size:16px;
	color: #666;
	margin:0
}
